header{
    height: 100vh;
    background-color: $black;
    color: $white;
    text-align: center;

    h2{
        margin: 0;
        padding-top: 40vh;
    }

    .title{
        color: $white;
        span{
            font-weight: 100;
        }
        a{
            font-weight: 900;
            color: #0097e6;
        }
        a:hover{
            color: #0097e6;
            text-decoration: underline;
        }
    }

    p{
        color: $white;
        font-size: 18px;
    }
}